[Unit]
Description=Start pace bms mqtt service to publish bms values via mqtt 
After=multi-user.target

[Service]
ExecStart=/usr/bin/bash /opt/bmspace/service.sh
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target